<div class="row">
	
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
	  <h4>
		<% if @user.username %>
		<%= @user.username %>
		<% else %>
			<% if @user == current_user %>
			<script type="text/javascript">
		    	$(window).load(function(){
		        	$('#no_user_name').modal('show');
		    	});
			</script>
			<% end %>
		<% end %>
	  </h4>
    </section>
    <section>
	  <% if @user.profile %>
      	<%= auto_link(@user.profile) %>
	  <% else %>
		<div>User hasn't defined a profile.</div>
	  <% end %>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <%= render 'follow_form' if signed_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
</div>

<div class="modal fade" id="no_user_name" %>
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Specify User Name</h3>
  </div>
  <div class="modal-body">
    <p>Jukaela Social now has usernames!  Holy cow!  You will now be redirected to your Profile page to specify one.</p>
  </div>
  <div class="modal-footer">
    <%= link_to "Update", edit_user_path(current_user), :class => "btn btn-primary" %>
  </div>
</div>