<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="micropost">What's up?</h1>
        <%= render 'shared/micropost_form' %>
	<%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
	<%= render 'shared/user_info' %>
	<%= render 'shared/stats' %>
      </td>
    </tr>
  </table>
<% else %>
  <h1>Welcome to Jukaela Social.</h1><br />
	<h3>Not another social network</h3>
	<p>You're sick of Twitter and Facebook and MyBook and FaceSpace, so the logical thing to do is... <i>join another social network</i>!  Do it now!  You know you want to!  All the cool kids are doing it!</p>
<table>
	<tr>
		<td class = "signup round"><h2><center>Not a member?</center></h2>
		<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %></td>
		<td width="1%"><br /></td>
		<td class = "signin round"><h2><center>Already a member?</center></h2>
		<center><%= form_for(:session, :url => sessions_path) do |f| %>
		  <div class="field">
		    <%= f.email_field :email, :placeholder => "Email" %>
		  </div>
		  <div class="field">
		    <%= f.password_field :password, :placeholder => "Password" %>
		  </div>
		  <div class="field">
		  	<%= f.check_box :stay_signed_in %> Stay signed in?
		  </div>
		  <div class="actions">
		    <%= f.submit "Sign in" %>
		  </div>
		<% end %></center></td>
	</tr>
</table>
		
<% end %>
