<li>
  <span class="content"><%= auto_link(micropost.content.concat(micropost.image_url)) %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
  </span>
  <% if current_user?(micropost.user) %>
	<div class="btn-group">
	  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
	    <i class="icon-cog"></i>
	    <span class="caret"></span>
	  </a>
		<ul class="dropdown-menu">
			<a href=<%= "#" + unique_modal(micropost.id, "Delete") %> data-toggle="modal">Delete</a>
  		</ul>
	</div>
	<% end %>
	
	<div class="modal fade" id=<%= unique_modal(micropost.id, "Delete") %>>
	  <div class="modal-header">
	    <a class="close" data-dismiss="modal">&times;</a>
	    <h3>Delete?</h3>
	  </div>
	  <div class="modal-body">
	    <p>Delete this post?</p>
	  </div>
	  <div class="modal-footer">
	    <a href="#" class="btn" data-dismiss="modal">Close</a>
	    <%= link_to "Delete", micropost, :class => "btn btn-danger",
								         :method =>  :delete,
	                             		 :title =>   micropost.content %>
	  </div>
	</div>
</li>